<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Electricity Management App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

    </style>
</head>

<body>
    <header class="header">
        <h1>Welcome to Electricity Management App</h1>
    </header>
    <div class="choices">
        <ul>
            <br>
            <li><a href="bills.html">Go To billing page</a></li>
            <li><a href="departements.html">Go To Departements page</a></li>
            <li><a href="performance.html">See Performance Of Departements</a> </li>
            <li class=""><a href="summary.html">Summary / Graphs page</a></li>

        </ul>
    </div>

    <footer>
        &copy; 2023 - Electricity Management App
        <h3>All Rights Reseved </h3>
    </footer>
</body>

</html>